<!--The content below is only a placeholder and can be replaced.-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<div style="text-align:center">
  <h1 class = "title">
    Welcome to Trading Simulator!
  </h1>

  <p>{{message}}</p>


  <div *ngIf="errorMessage">
    <p *ngIf= "errorMessage.errors.first_name">{{errorMessage.errors.first_name.message}}</p>
    <p *ngIf= "errorMessage.errors.last_name">{{errorMessage.errors.last_name.message}}</p>
    <p *ngIf= "errorMessage.errors.email">{{errorMessage.errors.email.message}}</p>
    <p *ngIf= "errorMessage.errors.password">{{errorMessage.errors.password.message}}</p>
  </div>

<div class = "LoginContainer">
  <form (submit) = "LoginUser()">
    <h2>Login</h2>
    <label>Email: <br><input type='text' name='getUser.email' [(ngModel)] = "getUser.email"></label>
    <br>
    <label>Password: <br><input type='password' name='getUser.password' [(ngModel)] = "getUser.password"></label>
    <br>
    <button>Submit</button>
  </form>
</div>
<div class="CreateContainer">
  <form (submit) = "CreateUser()">
      <h2>Registration</h2>
      <label>First Name: <br><input type='text' name='newUser.first_name' [(ngModel)] = "newUser.first_name"> </label>
      <br>
      <label>Last Name: <br><input type='text' name='newUser.last_name' [(ngModel)] = "newUser.last_name"> </label>
      <br>
      <label>Email: <br><input type='email' name='newUser.email' [(ngModel)] = "newUser.email"> </label>
      <br>
      <label>Password: <br><input type='password' name='newUser.password' [(ngModel)] = "newUser.password"></label>
      <br>
      <button>Submit</button>
  </form>
</div>

<h2 class = "intro">Hello {{currentUser.first_name}}!</h2>

<button (submit) = "logout()">Log Out</button>

<router-outlet></router-outlet>
