/* You can add global styles to this file, and also import other style files */
body{
    background-image: url('./assets/data.jpg');
    background-size: cover;

}
p, h1, h2, label{
    color: white;

}

.intro, .title{

    color:white;
}

.LoginContainer h2{
    color: white;

}

.CreateContainer h2{
    color: white;
}